
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CAEDFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 95vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding-top: 20px;
    border-radius: 5px;
    height: 458px;
    width: 100%;
    padding-bottom: 50px;
    align-items: center;

}

h2 {
    color: black;
    background-color: #b1d35b;
    margin: 0rem;
    text-align: center;
    padding-top: 15px;
    height: px;

}

p {
    color: #555;
}

header{
    display: flex;
    background-color: #b1d35b;
    height: 60px;
    width: 100%;
    
    }
header img {
    height: 60px;
}




.button-container button {
    background-color: #8ECDDD;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid;
    padding: 80px 60px;
    font-size: 30px;
    color: black;
    margin: 20px;
    cursor: pointer;
    border-radius: 90px;
    transition:  0.3s ease-in-out;
   
}
audio {
    display: none;
}


.button-container button:hover {
    background-color: #00000080;
    box-shadow: 5px 10px;

}

.doctor-button button:hover{
    background-image: url(doctor.avif);

}





.lan{
    width: 100%;
    background-color: bisque;
    height: 20%;
    padding-top: 10px;
    margin-right: 0%;
}

.lan ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    
}
.lan ul li{
    margin: 50px;
}

.lan a {
    text-decoration: none;
    color: red;
}

.lan a:hover{
    color: green;
}

.chlan{
    align-items: center;
}



