<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Asha Worker Profile</title>
    <link rel="stylesheet" href="/static/ashaworker.css">
</head>
<body>
    <header>
        <h1>Asha Dashboard</h1>
    </header>

    <section class="worker-information">
        <h2>Asha Worker Information</h2>
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Phone:</strong> {{phone}}</p>
        <p><strong>Village:</strong> {{village}}</p>
    </section>

    <section class="patient-details">
        <h2>Patient Details</h2>
        <table>
            <tr>
                <th>Patient Name</th>
                <th>Phone Number</th>
                <th>Doctor Prescription</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
       
            <tr>
                <td>Vishwas</td>
                <td>9087689789</td>
                <td><button>Get Prescription</button></td>
                <td>Uppal</td>
                <td>Not completed</td>
            </tr>
            <tr>
                <td>Risheeth</td>
                <td>8778786890</td>
                <td><button>Get Prescription</button></td>
                <td>Nagole</td>
                <td>Not completed</td>
            </tr>
        </table>
    </section>
</body>
</html>